<h1>Post#new</h1>
<p>Find me in app/views/post/new.html.erb</p>
<%= form_for(@post, url: create_post_path) do |f| %>
<div class="field">
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :info %><br>
  <%= f.text_field :info %>
</div>
<div class="field">  
<%= f.file_field :image %>
</div>
<div class="field">
  <%= f.hidden_field :journal_id, :value => @journal_id%>
</div>
<div class="actions">
    <%= f.submit "submit!" %>
</div>
<% end %>

<%= link_to "List", post_path%>
