<%= form_for(@journal, url: '/journal') do |f| %>
<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.hidden_field :user_id, :value => current_user.id %>
</div>
<div class="actions">
    <%= f.submit "submit!" %>
</div>
<% end %>
