<h1>Journal#edit</h1>
<p>Find me in app/views/journal/edit.html.erb</p>
<%= form_for(@journal, url: patch_journal_path) do |f| %>
<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="actions">
    <%= f.submit "submit!" %>
</div>
<% end %>
<%= link_to "Show page", show_journal_path(@journal)%>
<%= link_to "List", journal_path%>
